<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Employees</h1>

    <form method="post">
        <input type="search" name="full_name" placeholder="Search by full name...">
        <input type="search" name="b_date" placeholder="search by birth date...">
        <select name="gender">
            <option value="all">All</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <br><br>

    <table border="1" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th><a href="">Emp No</a></th>
                <th><a href="">Full Name</a></th>
                <th><a href="">B/Date</a></th>
                <th><a href="">Gender</a></th>
                <th><a href="">Hire Date</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10001</td>
                <td>Elshad Agayev</td>
                <td>23/06/1987</td>
                <td>Male</td>
                <td>15/11/1999</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Elshad Agayev</td>
                <td>23/06/1987</td>
                <td>Male</td>
                <td>15/11/1999</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Elshad Agayev</td>
                <td>23/06/1987</td>
                <td>Male</td>
                <td>15/11/1999</td>
            </tr>
            <tr>
                <td>10001</td>
                <td>Elshad Agayev</td>
                <td>23/06/1987</td>
                <td>Male</td>
                <td>15/11/1999</td>
            </tr>
        </tbody>
    </table>

    Pages: <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <a href="">6</a>
    ...
</body>
</html>