<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Employees</h1>

    <form method="get">
        <input type="search" name="full_name" placeholder="Search by full name..." value="{{request.GET.full_name}}">
        <input type="search" name="b_year" placeholder="search by birth year..." value="{{request.GET.b_year}}">
        <input type="search" name="b_month" placeholder="search by birth month..." value="{{request.GET.b_month}}">
        <input type="search" name="b_day" placeholder="search by birth day..." value="{{request.GET.b_day}}">
        <select name="gender">
            <option value="all">All</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <br><br>

    <table border="1" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th><a href="">Emp No</a></th>
                <th><a href="">Full Name</a></th>
                <th><a href="">B/Date</a></th>
                <th><a href="">Gender</a></th>
                <th><a href="">Hire Date</a></th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <td>{{emp.emp_no}}</td>
                    <td>{{emp.first_name}} {{emp.last_name}}</td>
                    <td>{{emp.birth_date|date:"d-m-Y"}}</td>
                    <td>{% if emp.gender == 'F' %}Female{% else %}Male{% endif %}</td>
                    <td>{{emp.hire_date|date:"d-m-Y"}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">There is no employee</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    Pages: {% for i in page_numbers %}
        <a href="?page={{i}}">{{i}}</a>
    {% endfor %}
</body>
</html>