<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Employees</h1>

    <form method="get">
        <input type="search" name="full_name" placeholder="Search by full name..." value="{{request.GET.full_name}}">
        <input type="search" name="b_year" placeholder="search by birth year..." value="{{request.GET.b_year}}">
        <input type="search" name="b_month" placeholder="search by birth month..." value="{{request.GET.b_month}}">
        <input type="search" name="b_day" placeholder="search by birth day..." value="{{request.GET.b_day}}">
        <select name="gender">
            <option value="all">All</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <br><br>

    <table border="1" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th><a href="?order_by={% if request.GET.order_by == 'emp_no_desc' %}emp_no_asc{% else %}emp_no_desc{% endif %}">Emp No</a></th>
                <th><a href="?order_by={% if request.GET.order_by == 'full_name_desc' %}full_name_asc{% else %}full_name_desc{% endif %}">Full Name</a></th>
                <th><a href="?order_by={% if request.GET.order_by == 'b_date_desc' %}b_date_asc{% else %}b_date_desc{% endif %}">B/Date</a></th>
                <th><a href="?order_by={% if request.GET.order_by == 'gender_desc' %}gender_asc{% else %}gender_desc{% endif %}">Gender</a></th>
                <th><a href="?order_by={% if request.GET.order_by == 'hire_date_desc' %}hire_date_asc{% else %}hire_date_desc{% endif %}">Hire Date</a></th>
                <th><a href="?order_by={% if request.GET.order_by == 'title_desc' %}title_asc{% else %}title_desc{% endif %}">Title</a></th>
                <th><a href="?order_by={% if request.GET.order_by == 'dept_manager_desc' %}dept_manager_asc{% else %}dept_manager_desc{% endif %}">Manager at</a></th>
                <th><a href="?order_by={% if request.GET.order_by == 'department_desc' %}department_asc{% else %}department_desc{% endif %}">Works at</a></th>

            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <td>{{emp.emp_no}}</td>
                    <td>{{emp.first_name}} {{emp.last_name}}</td>
                    <td>{{emp.birth_date|date:"d-m-Y"}}</td>
                    <td>{% if emp.gender == 'F' %}Female{% else %}Male{% endif %}</td>
                    <td>{{emp.hire_date|date:"d-m-Y"}}</td>
                    <td>{{emp.titles__title}}</td>
                    <td>{{emp.deptmanager__dept_no__dept_name}}</td>
                    <td>{{emp.deptemp__dept_no__dept_name}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">There is no employee</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    Pages:
    {% for i in pages %}
        <a href="?page={{i}}">{{i}}</a>
    {% endfor %}
</body>
</html>