
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Employees</h1>

    <form method="get">
        <div>
            <select name="field">
                <option value="">-- Select Any Field --</option>
                <option value="1" {% if request.GET.field == "1" %}selected{% endif %}>Birth date</option>
                <option value="2" {% if request.GET.field == "2" %}selected{% endif %}>Hire date</option>
                <option value="3" {% if request.GET.field == "3" %}selected{% endif %}>Salary from date</option>
                <option value="4" {% if request.GET.field == "4" %}selected{% endif %}>Salary to date</option>
            </select>
            <select name="operator">
                <option value="">-- Select Operator --</option>
                <option value="gt" {% if request.GET.operator == "gt" %}selected{% endif %}>&gt;</option>
                <option value="gte" {% if request.GET.operator == "gte" %}selected{% endif %}>&gt;=</option>
                <option value="lt" {% if request.GET.operator == "lt" %}selected{% endif %}>&lt;</option>
                <option value="lte" {% if request.GET.operator == "lte" %}selected{% endif %}>&lt;=</option>
                <option value="exact" {% if request.GET.operator == "exact" %}selected{% endif %}>==</option>
            </select>
            <input type="text" name="value" value="{{request.GET.value}}">
        </div>
        <div>
            <select name="aggregate">
                <option value="">-- Select Aggregate Function --</option>
                <option value="count" {% if request.GET.aggregate == 'count'%}selected{% endif %}>Count</option>
                <option value="avg" {% if request.GET.aggregate == 'average'%}selected{% endif %}>Average</option>
                <option value="stddev" {% if request.GET.aggregate == 'stddev'%}selected{% endif %}>Standard Deviation</option>
                <option value="min" {% if request.GET.aggregate == 'min'%}selected{% endif %}>Minimum</option>
                <option value="max" {% if request.GET.aggregate == 'max'%}selected{% endif %}>Maximum</option>
            </select>
            <select name="agg_field">
                <option value="">-- Select field for aggregation --</option>
                <option value="1" {% if request.GET.agg_field == '1'%}selected{% endif %}>Emp no</option>
                <option value="2" {% if request.GET.agg_field == '2'%}selected{% endif %}>Salary</option>
            </select>

            <select name="group_by" multiple>
                <option value="">-- Select group by field --</option>
                <option value="1" {% if request.GET.group_by == '1'%}selected{% endif %}>Emp no</option>
                <option value="2" {% if request.GET.group_by == '2'%}selected{% endif %}>Salary</option>
                <option value="3" {% if request.GET.group_by == '3'%}selected{% endif %}>Full Name</option>
                <option value="4" {% if request.GET.group_by == '4'%}selected{% endif %}>Birth Date</option>
                <option value="5" {% if request.GET.group_by == '5'%}selected{% endif %}>Gender</option>
                <option value="6" {% if request.GET.group_by == '6'%}selected{% endif %}>Hire Date</option>
                <option value="7" {% if request.GET.group_by == '7'%}selected{% endif %}>Title</option>
                <option value="8" {% if request.GET.group_by == '8'%}selected{% endif %}>Manager At</option>
                <option value="9" {% if request.GET.group_by == '9'%}selected{% endif %}>Works At</option>
            </select>
        </div>
        <button type="submit">Search</button>
    </form>

    <br><br>

    <table border="1" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th><a href="?order_by=emp_no_desc">Emp No</a></th>
                <th><a href="?order_by=full_name_desc">Full Name</a></th>
                <th><a href="?order_by=b_date_desc">B/Date</a></th>
                <th><a href="?order_by=gender_desc">Gender</a></th>
                <th><a href="?order_by=hire_date_desc">Hire Date</a></th>
                <th><a href="?order_by=title_desc">Title</a></th>
                <th><a href="?order_by=dept_manager_desc">Manager at</a></th>
                <th><a href="?order_by=department_desc">Works at</a></th>

            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <td>{{emp.emp_no}}</td>
                    <td>{{emp.first_name}} {{emp.last_name}}</td>
                    <td>{{emp.birth_date|date:"d-m-Y"}}</td>
                    <td>{% if emp.gender == 'F' %}Female{% else %}Male{% endif %}</td>
                    <td>{{emp.hire_date|date:"d-m-Y"}}</td>
                    <td>{{emp.titles__title}}</td>
                    <td>{{emp.deptmanager__dept_no__dept_name}}</td>
                    <td>{{emp.deptemp__dept_no__dept_name}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">There is no employee</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    Pages:
    
        <a href="?page=1">1</a>
    
        <a href="?page=2">2</a>
    
</body>
</html>